@import "src/style/global";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
  margin: 0;
  font-family: montserrat,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  }

.App {
  text-align: center;
}

.app-title {
  background-color:black;
  color: white;
  padding: 50px;
}

.footer {
  display: flex;
  height: 200px;
  justify-content: center;
  align-items: center;
  border: 1px solid grey;
  margin-top: 50px;
}